<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <form >

    <div class="container">
    <h1>Se connecter</h1>
    <hr>


    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email..." name="email" id="email" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <input type="checkbox" name="remember" class="form-check-input" id="remember_me" />
    <label class="form-check-label" for="remember_me">Remember me</label>

    <hr>
    <p>En créant un compte, vous acceptez nos <a class="text-primary" href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="btn btn-primary">Se connecter</button>
    <div class="login">
      <p>Vous n'avez pas un compte? <a class="text-primary"href="/inscription">Inscrivez-vous</a>.</p>
    </div>
  </div>


</form>

</body>
</html>



