.logo {
    width: 170px;
    cursor: pointer;
    height: 70px;
}

.action-btn {
    margin-right: 15px;
    margin-top: 15px;
}

.header {
    background-color: rgb(255, 255, 255);
    Box-shadow:0 10px 20px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.19);
}