<div class="header" >
    <div class="container-fluid d-flex justify-content-between">
        <img class="logo" src="/assets/images/mundiatheque.png" alt="MUNDIATHEQUE LOGO">
        <div class="d-flex ">
            <div class="example-button-container">
                <button class="action-btn" mat-fab color="warn" aria-label="Sign Out">
                    <mat-icon aria-hidden="false" (click)="logout()">logout</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
