<div class="card mt-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item clickable" routerLink="">Livres</li>
        <li routerLink="" class="list-group-item clickable">Auteurs</li>
        <li class="list-group-item clickable" routerLink="">Editeurs</li>
        <li class="list-group-item clickable" routerLink="/admin/genres">Genres</li>
        <li class="list-group-item clickable" routerLink="">Rayons</li>
        <li class="list-group-item clickable" routerLink="">Prets</li>
        <li class="list-group-item clickable" routerLink="">Utilisateurs</li>
    </ul>

</div>
