html{
  width: 100%;
  height: 100%;
}

body {

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/library.jpg');
  background-repeat: repeat-y;
  background-size: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
}

/* Add padding to containers */
.container {

  padding: 30px;
  background-color: rgba(255, 255, 255,0.95);
  border-radius: 16px;
  margin: 30px 0;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: rgb(255, 255, 255);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  margin-top: 20px;
  background-color: #f1f1f1;
  text-align: center;
  height: 50px;
}
